################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankManagement/.vs/BankManagement/FileContentIndex/2a85d276-3f8a-4f23-8c69-ac93a0cf29b4.vsidx
/BankManagement/.vs/BankManagement/FileContentIndex/5436669a-eb12-4f36-a9db-98e801a5db7d.vsidx
/BankManagement/.vs/BankManagement/FileContentIndex/b1a7b8e6-4798-4233-b945-869536c33ece.vsidx
/BankManagement/.vs/BankManagement/FileContentIndex/920ac7b4-a454-4d09-8bc7-2adfdc6d7dd2.vsidx
/BankManagement/.vs/BankManagement/FileContentIndex/9574407f-9f5e-4ef4-b501-79ad4e29ffed.vsidx
